.columns-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: auto;
  padding: 20px 0;
  padding-bottom: 16px;
  align-items: flex-start;
  white-space: nowrap;
}

.columns-container::-webkit-scrollbar {
  height: 8px;
}

.columns-container::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.columns-container::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border-radius: 4px;
}

.columns-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  
.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.board-title-section {
  flex-grow: 1;
}

.board-name {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.board-actions {
  display: flex;
  gap: 10px;
  height:32px;
}


.options-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.add-new {
  position: relative;
  letter-spacing: -0.04em;
  font-weight: 500;
}
.add-icon {
  width: 16px;
  position: relative;
  height: 16px;
}
.add-new-parent {
  position: relative;
  border-radius: 8px;
  background-color: #3e43fb;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 12px;
  box-sizing: border-box;
  gap: 2px;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: 'Work Sans';
  border:none;
  cursor:pointer;
}

.breadcrumb-main {
  position: relative;
  opacity: 0.6;
}
.breadcrumb-icon {
  width: 16px;
  position: relative;
  height: 16px;
  opacity: 0.6;
}
.breadcrumb-boards {
  position: relative;
}
.breadcrumb {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  text-align: left;
  font-size: 14px;
  color: #ebf7fb;
  font-family: 'Work Sans';
  margin-bottom: 16px;
}

.board-title-section {
  display: inline-flex;
  align-items: center;
  color: #efefef;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 6px;
  max-width:fit-content;
}

.board-title-section:hover,
.board-title-section:focus-within {
  background-color: rgba(235, 247, 251, 0.2);
}

.board-title-section input {
  background: none;
  border: none;
  color: #efefef;
  font-family: 'Work Sans';
  font-size: 24px;
  outline: none;
  padding: 4px 8px;
  margin: 0;
  line-height: inherit;
  height: auto;
  min-width: 20px;
  width: 100%;
}