.card-name {
  position: relative;
  letter-spacing: -0.05em;
  font-weight: 500;
}
.card-date {
  position: relative;
  font-size: 12px;
  letter-spacing: -0.05em;
  color: #fff;
}
.cardheader {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 236px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-position {
  position: absolute;
  top: 28px;
  left: 8px;
  font-size: 12px;
  letter-spacing: -0.05em;
  color: #fff;
  opacity: 0.5;
}
.labels-container {
  position: relative;
  height: 4px;
  margin-top: 62px;
}
.label {
  position: absolute;
  top: 0;
  border-radius: 57px;
  width: 38px;
  height: 4px;
}
.cardheader-parent {
  width: 252px;
  position: relative;
  border-radius: 14px;
  background-color: #141414;
  border: 0.6px solid rgba(235, 247, 251, 0.3);
  box-sizing: border-box;
  height: 74px;
  text-align: left;
  font-size: 14px;
  color: #ebf7fb;
  font-family: 'Work Sans';

  margin: 12px;
}