.card {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    padding: 10px;
    margin-bottom: 10px;
    max-height:50px;
    max-width:100%;
  }
  
  .card h4 {
    margin-top: 0;
    margin-bottom: 5px;
    color:black;
  }