.react-datepicker {
  font-family: 'Work Sans';
  background-color: #2a2a2a;
  color: #ebf7fb;
  border: 0.6px solid rgba(239, 239, 239, 0.2);
  display:flex;
  margin-left:30px;
}

.react-datepicker__header {
  background-color: #1a1a1a;
  border-bottom: 1px solid #444;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: #ebf7fb;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #ebf7fb;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: #444;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: #3e43fb;
  color: #fff;
}

.react-datepicker__time-container {
  border-left: 0.6px solid rgba(239, 239, 239, 0.2);
}

.react-datepicker__time-container .react-datepicker__time {
  background-color: #2a2a2a;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  color: #ebf7fb;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  background-color: #444;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: #3e43fb;
  color: #fff;
}
