.alert-main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.alert-container {
    width: 400px;
    position: relative;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
    border-radius: 12px;
    background-color: #1a1a1a;
    border: 0.6px solid rgba(239, 239, 239, 0.2);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    gap: 32px;
    text-align: center;
    font-size: 16px;
    color: rgba(235, 247, 251, 0.9);
    font-family: 'Work Sans';
}    

.alert-content-icon-container {
    width: 48px;
    position: relative;
    border-radius: 28px;
    height: 48px;
}
.alert-content-main-text {
    align-self: stretch;
    position: relative;
    line-height: 24px;
    font-weight: 500;
}
.alert-content-secondary-text {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #a1a1a1;
}
.alert-content-text {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.alert-content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.alert-actions-button-text {
    position: relative;
    line-height: 20px;
    font-weight: 500;
}
.alert-actions-button {
    flex: 1;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    border: 0.6px solid rgba(239, 239, 239, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 18px;
    cursor: pointer;
}
.alert-actions-button1 {
    flex: 1;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    background-color: #e74c3c;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 18px;
    color: #ebf7fb;
    cursor: pointer;
}
.alert-actions {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    text-align: left;
    font-size: 14px;
    color: rgba(235, 247, 251, 0.8);
}