.side-bar {
  position: fixed;
  width: 240px;
  height: calc(100vh - 64px);
  background-color: #1a1a1a;
  border-right: 0.6px solid rgba(239, 239, 239, 0.2);
  color: #efefef;
  font-family: 'Work Sans';
  display: flex;
  flex-direction: column;
}

.sidebar-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-menu {
  flex-grow: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 375px;
}

.main-menu::-webkit-scrollbar {
  display: none;
}

.main-text {
  margin-top: 24px;
  padding: 0px 24px 4px;
  font-size: 13px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(239, 239, 239, 0.6);
}

.team-section {
  margin-top: 0;
}

.info-section {
  margin-top: auto;
  padding-bottom: 24px;
}

.sidebar-list {
  padding: 0 8px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-radius: 10px;
  text-decoration: none;
  color: #efefef;
  transition: 0.3s;
  opacity: 0.40;
}

.sidebar-item:hover, .sidebar-item.active {
  background-color: #141414;
  opacity: 1;
}

.sidebar-item-logout {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  margin-bottom: 4px;
  border-radius: 10px;
  text-decoration: none;
  color: #efefef;
  transition: opacity 0.3s;
  opacity: 0.40;
}

.sidebar-item-logout:hover {
  color: red;
  background-color: #141414;
  opacity: 1;
}

.sidebar-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.sidebar-item.boards {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}

.boards-header {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  transition: 0.4s;
}

.arrow-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  transition: transform 0.3s;
}

.boards.active .arrow-icon {
  transform: translateY(-50%) rotate(180deg);
}

.boards-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  transition: max-height 0.3s ease-out, opacity 0.2s ease-out, margin-top 0.3s ease-out;
  margin-top: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.boards.active .boards-content {
  display: block;
  max-height: 115px;
  opacity: 1;
  margin-top: 12px;
  overflow-y: auto;
}

.board-option {
  display: flex;
  align-items: center;
  margin: 0px 4px;
  padding: 6px 8px;
  color: #efefef;
  text-decoration: none;
  transition: background-color 0.3s, opacity 0.2s;
  opacity: 0;
  border-radius: 6px;
}

.boards.active .board-option {
  opacity: 0.3;
}

.boards.active .board-option:hover {
  opacity: 1;
}

.board-option:hover {
  opacity: 1; 
  background-color: rgba(235, 247, 251, 0.2);
}

.board-option .sidebar-icon {
  width: 16px; 
  height: 16px;
  margin-right: 8px;
}

.board-option.add-new {
  opacity: 0.3;
}

.board-option.add-new:hover {
  opacity: 1;
  background-color: rgba(235, 247, 251, 0.2);
}

.board-option.add-new:active {
  background: #1A1A1A;
}

.board-option input {
  background: none;
  border: none;
  color: #efefef;
  font-family: 'Work Sans';
  font-size: 14px;
  width: 100%;
  outline: none;
  padding: 0;
  margin: 0;
  line-height: inherit;
  height: auto;
}

.board-option span,
.board-option input {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
}

.board-option.add-new:focus {
 opacity: 1;
}